.script.py.un~
data/~$train_excel.xlsx
data/result_test.csv
data/result_test_old.csv
data/result_test_0.72249.csv
data/result_test_0.73684.csv
data/result_test_0.78469.csv
data/result_test_old_2017.03.30_0.72727.csv
data/result_test_old_2017.03.31_0.73206.csv
data/test_excel.xlsx
data/.result_test.csv.un~
data/median_fare.csv
data/result_test_0.77033.csv
data/result_test_0.77512.csv
data/result_test_0.78947.csv
data/result_test_0.79426.csv
data/result_test_079426.csv
data/train_excel.xlsx
